<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop page</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
    <header>
        <nav>
            <a href="/admin/add-product">Add-Product</a>
            <div>
                <% data.map((item)=>{ %>
                    <% var data=`${Object.keys(item).pop()} : ${Object.values(item).pop()}` %>

                        <div>
                            <%= data %>
                                <button><a href="/shop/buy/<%= item.id%>">Add to Cart</a></button>
                                <button><a href="/edit/editproduct?pid=<%= item.id%>">Edit</a></button>
                                <button><a href="/edit/deleteproduct?pid=<%= item.id%>">Delete</a></button>
                        </div>
                        <% }) %>
            </div>
        </nav>
    </header>
</body> 